.modal-content
  / Modal header
  .modal-header
    %button.close{"ng-click" => "cancel()", :type => "button"} &times;
    %h2.modal-title {{ translation.home.ModalRecipe.Addnewrecipe }}
  / Modal body
  .modal-body
    %form.form-horizontal{:role => "form"}
      .form-group
        %label.control-label.col-sm-2 {{ translation.home.ModalRecipe.Recipetitle }}:
        .col-sm-6
          %input.form-control{"ng-model" => "title", :placeholder => "{{ translation.home.ModalRecipe.Recipetitle }}", :type => "text"}
      .form-group
        %label.control-label.col-sm-2 {{ translation.home.ModalRecipe.RecipeImage }}:
        .col-sm-6
          = form.file_field :image
      .form-group
        %label.control-label.col-sm-2 {{ translation.home.ModalRecipe.Ingredients }}:
        .col-sm-6
          %ui-select{:multiple => "", "ng-model" => "multiselect.ingredient", :theme => "bootstrap"}
            %ui-select-match{:placeholder => "{{ translation.home.ModalRecipe.Selectingredients }}..."} {{$item.title}}
            %ui-select-choices{:repeat => "ingredient in listIngredient| filter: $select.search"}
              {{ingredient.title}}
          / <select class="form-control" ng-model="ingredient" ng-options="i for i in ingredients"></select>
      .form-group
        %label.control-label.col-sm-2 {{ translation.home.ModalRecipe.PublicationDate }}:
        .col-sm-6
          %input.form-control{"ng-model" => "publication_date", :placeholder => "{{ translation.home.ModalRecipe.PublicationDate }}", :style => "margin-bottom: 10px;", :type => "text"}
          %input{:datepicker => "", "ng-model" => "publication_date", :type => "text"}/
      .form-group
        %label.control-label.col-sm-2 {{ translation.home.ModalRecipe.Description }}:
        .col-sm-6
          %textarea.form-control{"ng-model" => "description", :rows => "5"}
  / Modal footer
  .modal-footer
    %button.btn.btn-default{"ng-click" => "cancel()", :type => "button"} {{ translation.home.ModalRecipe.Close }}
    %button.btn.btn-default{"ng-click" => "AddRecipe()", :type => "submit"}
      %span.glyphicon.glyphicon-save>
      {{ translation.home.ModalRecipe.Save }}